
<!DOCTYPE html>
<html>
  <head>
    <title>Test Page</title>
  </head>
  <body>
    <h1>This page is a test</h1>
    {% fragment test %}
      <p>Can I get <em>only this</em> to render?</p>
    {% endfragment %}
  </body>
</html>
